body {
  background-color:#b6d67c;
}

hr {
  background-color: aqua;
  border-style:none ;
  border-top-style: dotted;
  border-width: 2px;
  height: 1px;
  width: 100%;
}

h3 {
  color: indigo;
  text-align: left;
}

h2 { color: rgb(74, 102, 7);

}

h1 {
  color: palevioletred; font-size:50px ;
}

table {
  color: #944E63;
}


img {
  height: 150px;
  border-radius: 50px;
  background-color: rgb(32, 245, 227);
}

form {
  color: rgb(240, 120, 41);  
}
